/*璁㈠椤甸㈡峰*/
.order-bd{
    padding: 38px 0;
    background: #f5f5f5;
}
.order-content{
    background-color: #fff;
}
.order-content .tr{

    padding: 25px 0;
    border-bottom: 1px solid #e0e0e0;
    text-align: left;
    margin: 0 40px;
}
.order-content .tr h2{
    font-size: 18px;
    display: inline-block;
}
.order-content .tr input{
    border: 1px solid #d5d5d5;
    margin-left: 50px;
    width: 500px;
    height: 50px;
    padding: 3px 8px;
}
.order-content .tr span{
    margin-left: 50px;
    height: 50px;
    color: #ff6700;
}
.pay-time{
    display: inline-block;
    margin-left: 50px;
}
.pay-btn a{
    display: inline-block;
    margin-right: 15px;
    border: 1px solid #d5d5d5;
    height: 40px;
    line-height: 40px;
    padding: 0 30px;
}
/* .pay-btn a:hover{
    cursor: pointer;
    border: 1px solid #b9b9b9;
} */
/* .pay-btn a:active{
    border: 1px solid #ff6700;
} */
.pay-invoice{
    display: inline-block;
    margin-left: 85px;
}

/* 璁㈠椤甸㈡浠缁璁★pay-total */
.pay-total{
    min-height: 200px;
    padding: 20px 0;
    position: relative;
    margin: 0 48px;
}
.pay-total ul{
    float: right;text-align: right;

}
.pay-total ul li{
    line-height: 30px;
    position: relative;
    padding-left: 60px;
    zoom: 1;
}
.pay-total ul li span{
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    color: #757575;
    zoom: 1;
}
.pay-total ul li i{
    color: #ff6700;
    margin-left: 60px;
}
.pay-num{
    line-height: 60px !important;
}
.pay-num i{
    font-size: 30px;

}

/*璁㈠椤甸㈢绠峰*/
.pay-next{
    border-top: 1px solid #d5d5d5;
    padding: 20px 0;
    margin: 0 48px;
}
.pay-back{
    color: #b9b9b9;
    float: right;
    vertical-align: middle;
    line-height: 30px;
    height: 40px;
}
.pay-fk{
    float: right;
    height: 40px;
    width: 160px;
    background-color: #ff6700;
    color: #fff;
}
.pay-fk:hover{
    background-color: #ea5f00;
    color: #f4f4f4;
}
/*地址样式  */
.order-content .address-body{
	
	float:left;
	padding-top:30px;
	margin:0px 20px 25px 20px;
    border: 1px solid #d5d5d5;
    height: 160px;
    width:240px;
}
.address-body button{
	padding-left:60px;
}

.order-content .selected{
    border: 1px solid #ff6700;
}

/* 字体样式*/
.h-font{
	font-weight:bold;
	font-size:22px;
}

/* 商品展示的样式 */
.col-img{
	width: 10%;
	text-align: left !important; 
}
.col-img img{
	height: 40px;  
}
.col-name{
	text-align: left !important;
	width:400px; 
}
.dj{
    font-weight: bold;
    width:300px
}
.price{
	color: #ff6700;
	font-weight: bold;
	width:320px
}
.order-tb-body{
	text-align: right;  
}
/* 礼品卡样式 */
.gift-body{	
	float:left;
	height:160px;
	width:240px;
	border:1px solid #d5d5d5;
	text-align:left;
	margin:0 0 30px 30px;
	
}
.gift-inner{
	padding-left:10px;
	font-weight:bold;
}
.gift-btn{
	background-color:#ff6700;
	color:#ffffff;
	width:50px;
	margin-left:165px;
	margin-top:20px;
}
